.img1{
width: 100%;
      max-width: 980px;
      height: 980px;
      display: block;
        margin-left: auto;
        margin-right: auto;
}
.background{
  background-color: black;
}
.menudiv{

  display: block;
    margin-left: auto;
    margin-right: auto;
  width: 980px;
  height: 40px;
  background-color: white;
border-bottom: solid grey 2px ;

  border-radius: 5px 5px 5px 5px;
}
.center{
  color:white;
  position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}
.footer{
  display: block;
    margin-left: auto;
    margin-right: auto;
  width: 980px;
  height: 40px;
  background-color: white;
  border-top: solid grey 2px ;
  border-radius: 5px 5px 5px 5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
}

li {
    margin-left: 30px;
    float: left;
}

li a {

    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #e30425;
}
.footer{
  text-align:  center;
  margin: auto;
}
.container {
height: 100%;

}
.ad{
  width: 100%;
        max-width: 980px;
        height: 980px;
        display: block;
          margin-left: 100px;
          margin-right: auto;
}
