/* .img1{
  width: 100%;
      max-width: 980px;
      height: 100%;
      display: block;
        margin-left: auto;
        margin-right: auto;
} */
.background{
  background-color: black;
}
.menudiv{

  display: block;
    margin-left: auto;
    margin-right: auto;
  width: 980px;
  height: 40px;
  background-color: white;
border-bottom: solid grey 2px ;

  border-radius: 5px 5px 5px 5px;
}
/* .center{
  color:white;
  position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
} */
.footer{
  display: block;
    margin-left: auto;
    margin-right: auto;
  width: 980px;
  height: 40px;
  background-color: white;
  border-top: solid grey 2px ;
  border-radius: 5px 5px 5px 5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
}

li {
    margin-left: 30px;
    float: left;
}

li a {

    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #e30425;
}
.footer{
  text-align:  center;
  margin: auto;
}
.content{
  width: 100%;
      max-width: 980px;
      height: 980px;
      display: block;
        margin-left: auto;
        margin-right: auto;
  border: solid 2px black;
  background: white
}
body {
  font-family: Verdana, sans-serif;
}

input {
	border-radius: 5px;
	padding: 5px;
}

div.button {
	text-align: right;
}

a {
	text-decoration: none;
	color: #e51;
}

form {
	width: 480px;
	margin: auto;
	padding: 5px;
	border: solid black 1px;
	border-radius: 5px;
	box-shadow: 5px 5px 2px #888;
}
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: #DDD;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#login-box {
  position: relative;
  margin: 5% auto;
  width: 600px;
  height: 800px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
  position: absolute;
  top: 150px;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 700px;
}

h1 {
  margin: 0 0 20px 0;
  font-weight: 300;
  font-size: 28px;
}

input[type="text"],
input[type="password"] {
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}

input[type="submit"] {
  margin-top: 28px;
  width: 120px;
  height: 32px;
  background: #16a085;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

input[type="submit"]:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

.or {
  position: absolute;
  top: 340px;
  left: 280px;
  width: 40px;
  height: 40px;
  background: #DDD;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  line-height: 40px;
  text-align: center;
}

.right {
  position: absolute;
  top: 150px;
  right: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 300px;
  height: 700px;
  background: url('https://goo.gl/YbktSj');
  background-size: cover;
  background-position: center;
  border-radius: 0 2px 2px 0;
}

.right .loginwith {
  display: block;
  margin-bottom: 40px;
  font-size: 28px;
  color: #FFF;
  text-align: center;
}

button.social-signin {
  margin-bottom: 20px;
  width: 220px;
  height: 36px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  transition: 0.2s ease;
  cursor: pointer;
}

button.social-signin:hover,
button.social-signin:focus {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.2s ease;
}

button.social-signin.facebook {
  background: #32508E;
}

button.social-signin.twitter {
  background: #55ACEE;
}

button.social-signin.google {
  background: #DD4B39;
}
